version: 2.1
orbs:
  architect: giantswarm/architect@6.10.0

jobs:
  template-chart:
    docker:
      - image: giantswarm/helm-chart-testing:v3.14.0
    steps:
      - checkout
      - run: |-
          cd helm/mimir
          helm dep up
          helm template .

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - template-chart:
          name: "template-chart"
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: architect
          executor: app-build-suite
          name: "package and push mimir chart to control-plane-catalogs"
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          chart: mimir
          ct_config: ".circleci/ct-config.yml"
          persist_chart_archive: true
          requires:
            - "template-chart"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
      
      - architect/run-tests-with-ats:
          name: run-chart-tests-with-ats
          filters:
            # Do not trigger the job on merge to main.
            branches:
              ignore:
                - main
          requires:
            - "package and push mimir chart to control-plane-catalogs"

      - architect/push-to-app-collection:
          context: "architect"
          name: capa-app-collection
          app_name: "mimir"
          app_namespace: "mimir"
          app_collection_repo: "capa-app-collection"
          requires:
            - "package and push mimir chart to control-plane-catalogs"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: capz-app-collection
          app_name: "mimir"
          app_namespace: "mimir"
          app_collection_repo: "capz-app-collection"
          requires:
            - "package and push mimir chart to control-plane-catalogs"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: vsphere-app-collection
          app_name: "mimir"
          app_namespace: "mimir"
          app_collection_repo: "vsphere-app-collection"
          requires:
            - "package and push mimir chart to control-plane-catalogs"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: cloud-director-app-collection
          app_name: "mimir"
          app_namespace: "mimir"
          app_collection_repo: "cloud-director-app-collection"
          requires:
            - "package and push mimir chart to control-plane-catalogs"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          context: "architect"
          name: proxmox-app-collection
          app_name: "mimir"
          app_namespace: "mimir"
          app_collection_repo: "proxmox-app-collection"
          requires:
            - "package and push mimir chart to control-plane-catalogs"
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
